:root{
--main-color:#42A5F5;
--secondary-color:#FFF9C4;
--tertiary-color: #FAFAFA;






}

body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
 background-color: #42A5F5;
  }
  

  .navbar .nav-link{

color:var(--main-color);

  }

  
  
  .navbar .nav-link:hover{
    color: var(--main-color); /* Default text color */
    transition: background-color 0.3s, color 0.3s;
    text-decoration: underline;
  }

  
#contact-us{

background-color:	var(--main-color);
color: 	#FFFFFF;
border-radius: 1rem;
padding: 1rem 1rem;
text-decoration: none;
  }


  #contact-us:hover{

    background-color:var(--main-color);
    color: 	#000000;
    border-radius: 1rem;
    padding: 1rem 1rem;
   
      }