

#body {
   
 background-color:var(--secondary-color);
  }
  

  .navbar .nav-link{

color:var(--tertiary-color);

  }

  .navbar {
    background-color: var(--tertiary-color);
  }
  
  .navbar .nav-link:hover{
    color: var(--main-color); /* Default text color */
    transition: background-color 0.3s, color 0.3s;
    text-decoration: underline;
  }

  
#contact-us{

background-color:	var(--tertiary-color);
color: 	var(--font-color);
border-radius: 1rem;
padding: 1rem 1rem;
text-decoration: none;
  }


  #contact-us:hover{

    background-color:var(--main-color);
    color: var(--font-color);
    border-radius: 1rem;
    padding: 1rem 1rem;
   
      }